.shoplist ul li {
  padding: .2rem;
  border-top: 0.01rem solid #eee;
}

.shoplist ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.shoplist ul li a .logo {
  overflow: hidden;
  width: 1.3rem;
  height: 1.3rem;
  border: 0.01rem solid #eee;
  border-radius: .05rem;
}

.shoplist ul li a .logo img {
  width: 100%;
  height: 100%;
}

.shoplist ul li a .cStyle {
  padding-bottom: .2rem;
}

.shoplist ul li a .blurb {
  width: calc(100% - 1.5rem);
  min-height: 3rem;
}

.shoplist ul li a .blurb img {
  width: 0.55rem;
  height: 0.35rem;
  vertical-align: -.07rem;
}

.shoplist ul li a .blurb .title {
  margin-left: .1rem;
  font-size: .3rem;
  font-weight: 700;
  color: #333;
}

.shoplist ul li a .blurb .grade {
  display: flex;
  height: .43rem;
  justify-content: space-between;
}

.shoplist ul li a .blurb .grade ul {
  display: flex;
  width: 1.12rem;
  height: .43rem;
  justify-content: left;
  align-items: center;
}

.shoplist ul li a .blurb .grade ul li {
  flex: 1;
  font-size: 0.15rem;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

.shoplist ul li a .blurb .grade ul li svg {
  font-size: 0.2rem;
}

.shoplist ul li a .blurb .grade span {
  font-size: .2rem;
  color: #666;
  margin-left: .3rem;
}

.shoplist ul li a .blurb .grade .delivery {
  border-radius: .05rem;
  background: #0085ff;
  color: #fff;
}

.shoplist ul li a .blurb .money {
  display: flex;
  justify-content: space-between;
  font-size: 0.2rem;
}

.shoplist ul li a .blurb .money .left {
  color: #666;
}

.shoplist ul li a .blurb .money .left .fuhao {
  margin: 0 .1rem;
}

.shoplist ul li a .blurb .money .right {
  color: #999;
}

.shoplist ul li a .blurb .money .right .fuhao {
  margin: 0 .1rem;
}

.shoplist ul li a .blurb .product span {
  padding: 0 .1rem;
  border: .01rem solid #ddd;
  border-radius: 10%;
  font-size: .2rem;
}

.shoplist ul li a .blurb .product .sign {
  border: none;
  color: #ea4403;
}

.shoplist ul li a .blurb .product .sign img {
  width: 0.2rem;
  height: 100%;
  vertical-align: baseline;
}

.shoplist ul li a .blurb .product .mang {
  margin-right: .5rem;
}

.shoplist ul li a .blurb .discount {
  overflow: hidden;
  width: 100%;
  height: .8rem;
  padding-top: 0.1rem;
}

.shoplist ul li a .blurb .discount span {
  font-size: 0.2rem;
}

.shoplist ul li a .blurb .discount .benefit {
  display: inline-block;
  height: .28rem;
  width: .28rem;
  margin-right: .15rem;
  border-radius: .03rem;
  text-align: center;
  line-height: .28rem;
  color: #fff;
}

.shoplist ul li a .blurb .discount .subtract .subtract1 {
  background: #f07373;
}

.shoplist ul li a .blurb .discount .first .first1 {
  background: #70bc46;
}

.shoplist ul li a .blurb .discount .special .special1 {
  background: #f1884f;
}

.shoplist ul li a .blurb .discount .discount1 .discount2 {
  background: #f07373;
}
